body {
background-color: #003300;
color: white;
height:2000px;

}

.nav{
  width: 100%;
  background-color: black;
  height: 50px;
}
.nav a{
  text-decoration:none;
  color:white;
  float:left;
  margin-right: 2px;
  margin-bottom: 20px;
  padding: 5px;
  }

.nav ul{
  list-style: none;
  margin-left: 450px;
  margin-top: -20px;
}

.nav ul li{
  background-color: black;
  padding:10px;
  margin-left: 10px;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 50px;
}

h2{
  margin-top: 50px;
  clear: left;
}
p{
  text-align: center;
  border-bottom: solid;
  padding-bottom: 50px;
  clear:left;
  margin-top: 50px;
}
.foot{
  background-color: black;
  color: white;
  margin-top: 1999px;
  text-align: center;
  padding-top: 2px;
}

.foot a{
  text-decoration: none;
  margin-top: -50px;
  color: black;
}

.foot a:hover{
  color:white;
}
